{% extends 'dashboard.html' %}

{% block conteudo %}
<nav aria-label="breadcrumd">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{url('admin/dashboard')}}">
                Home
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Categorias
        </li>
    </ol>
</nav>
<div class="card border-0 shadow-sm">
    <div class="card-body">
        <div class="table-responsive">
            <form action="{{url('admin/categorias/cadastrar')}}" method="post">
                <div class="mb-3">
                    <label for="titulo" class="form-label">Título</label>
                    <input type="text" name="titulo" id="titulo" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="status" class="form-label">Status</label>
                    <select class="form-select" name="status" id="status">
                        <option value="1">Ativo</option>
                        <option value="0">Inativo</option>
                    </select>
                </div>
                
                <input type="submit" class="btn btn-primary" value="Cadastrar">
            </form>
        </div>
    </div>
</div>
{% endblock %}

