{% extends 'base.html' %}
{% block corpo %}

{% include 'menu.html' %}

<div class="conteudo">
    {% include 'topo.html' %}
    <main>
        {% block conteudo %}
        <div class="card border-0 shadow-sm">
            <div class="card-header bg-white border-0">
                <h5 class="card-title">Dashboard</h5>
            </div>
            <div class="card-body">
                Conteúdo em desenvolvimento
            </div>
        </div>
        {% endblock %}
    </main>
</div>

{% endblock %}
