<header class="topbar d-flex align-items-center justify-content-between">
    <label for="menu" class="menu-toggle" aria-label="Abrir/fechar menu">
        <i class="fa-solid fa-bars"></i>
    </label>

    <div class="dropdown">
        <a href="#" class="user-dropdown dropdown-toggle text-decoration-none" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-circle-user"></i>
            Marcio Barcellos
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#">Meu perfil</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ url() }}">Sair</a></li>
        </ul>
    </div>
</header>
